.form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.create {
    border-bottom: 1px solid var(--color-border);
    padding: 8px 16px 16px 16px;
}

.noItems {
    text-align: center;
    padding-top: 16px;
    font-size: 1.4rem;
}

.input {
    flex-grow: 1;
}

.filter {
    border-bottom: 1px solid var(--color-border);
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.filterItem {
    transition: .1s ease;
    opacity: .5;
    cursor: pointer;
}

.filterItemActive {
    opacity: 1;
}